# Data handling
pandas
numpy

# Data fetching
yfinance
requests

# Visualization
matplotlib
seaborn
plotly
missingno

# Core Data Science / Machine Learning
scikit-learn
scipy

# Time Series Modeling
statsmodels
pmdarima      
arch

# Optimization
pulp

# Data I/O
pyarrow
fastparquet

# Development / Environment
jupyterlab 
ipykernel
lxml